@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
}

@layer components {
  .nav-item-hover {
    @apply hover:transition-all hover:duration-300 hover:ease-in-out hover:opacity-60;
  }
}

@layer utilities {
  .nav-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) -4px 8px 24px 0px;
  }
  .icon-box {
    font-size: 1.125rem;
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
    line-height: 1;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
  }

  .box--s2 {
    background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
  }
  .image-bg {
    background: linear-gradient(137.84deg, #3f3f40 2.69%, #303030 93.75%);

    margin: 1.875rem 1.875rem 1.25rem;
    overflow: hidden;
    height: calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .box-info-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 50px 0px;
  }

  .nav-container {
    border-radius: 0 20px 0 20px;
  }
  .nav-container-mobile {
    border-radius: 20px 20px 0 0;
    backdrop-filter: blur(6px);
    background: rgba(43, 43, 44, 0.75);
    z-index: 1112;
  }

  .title-separate {
    content: "";
    background: linear-gradient(137.84deg, #ffdb6e 26.31%, #ffbc5e 93.75%);
    border-radius: 0.5rem;
    height: 0.3125rem;
    bottom: -1.0625rem;
    width: 2.5rem;
  }

  /* .icon-box .font-icon {
    background-color: linear-gradient(90deg, #ffdb6e, #ffbc5e);
  } */
  /* box-right-border {
    background: linear-gradient(155deg, #ffda6d 0%, rgba(255, 191, 96, 0) 50%);
    position: relative;
    z-index: 5;
  } */
}
